.left-pane-wrapper {
  padding-left: 300px;
  padding-top: 1px;
  font-size: large;
}

.navigation-buttons {
  padding: 15px;
  margin-top: 20px;
  font-family: sans-serif;
  font: bold;
  border-radius: 25px;
  max-width: 125px;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
  cursor: pointer;
}

.navigation-buttons:hover {
  background: #2c3640;
}

.navigation-home {
  padding: 15px;
  margin-top: 15px;
  font-family: sans-serif;
  border-radius: 50px;
  max-width: max-content;
  transition: 0.3s;
  font-size: large;
  cursor: pointer;
}

.navigation-home:hover {
  background: #162d3f;
}
