.left-pane-wrapper {
  padding-left: 36vh;
  padding-right: 10px;
  font-size: 21px;
  width: 31vh;
  display: inline-flexbox;
}

.navigation-buttons {
  padding: 10px;
  margin-top: 12px;
  font-family: sans-serif;
  font: bold;
  max-width: max-content;
  justify-content: center;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
  cursor: pointer;
}

.btn-text {
  padding-top: 2px;
  padding-left: 15px;
  padding-right: 15px;
}

.navigation-buttons:hover {
  background: #2c3640;
}

.navigation-home {
  padding: 10px 13px 10px 13px;
  margin-top: 15px;
  font-family: sans-serif;
  border-radius: 50px;
  max-width: max-content;
  transition: 0.3s;
  font-size: large;
  cursor: pointer;
}

.navigation-home:hover {
  background: #162d3f;
}

.tweet-button {
  background: rgb(29, 155, 240);
  padding: 11px 70px 11px 70px;
  margin-top: 18px;
  font-family: sans-serif;
  font: bold;
  max-width: max-content;
  justify-content: center;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
  cursor: pointer;
}

.tweet-button:hover {
  background: rgb(26, 140, 216);
}

.account-bar {
  display: flex;
  justify-content: space-between;
  bottom: 0;
  position: absolute;
  margin-bottom: 15px;
  font-size: 15px;
  padding: 11px 11px 11px 11px;
  transition: 0.3s;
  border-radius: 50px;
  cursor: pointer;
}

.account-bar:hover {
  background: rgb(247, 249, 249, 0.1);
}

.profile-pic{
  border-radius: 5vh;
}

.account-bar-left{
  margin-left: 1vh;
}
.name{
  font-size: 15px bold;
  font-weight: bold;
  margin-bottom: 4px;
}
.nickname{
  color: rgb(139,152,166);
}
.account-bar-right {
  margin: 10px 0px 0px 65px;
}
