.left-pane-wrapper {
  padding-left: 300px;
  padding-top: 1px;
  padding-right: 10px;
  height: 100vh;
  font-size: large;
  border-right: 0.1rem solid rgb(56,68,77);
  max-width: 31vh;
  display: block;
}

.navigation-buttons {
  padding: 12px;
  margin-top: 15px;
  font-family: sans-serif;
  font: bold;
  max-width: max-content; 
  justify-content: center;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
  cursor: pointer;
}

.btn-text {
  padding-top: 2px;
  padding-left: 5px;
}

.navigation-buttons:hover {
  background: #2c3640;
}

.navigation-home {
  padding: 15px;
  margin-top: 15px;
  font-family: sans-serif;
  border-radius: 50px;
  max-width: max-content;
  transition: 0.3s;
  font-size: large;
  cursor: pointer;
}

.navigation-home:hover {
  background: #162d3f;
}
