.App {
  background: #000;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100vh;  
}

.wrapper{
  width: 100vh;
}

.left-pane{
  display:inline-block;
  height: 100vh;
}

.home-content{
  display:inline-block;
  position: absolute;
  height: 100vh;
}

.right-pane{
  display:inline-block;
  height: 100vh;
}